rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.hostUid;

      match /players/{uid} {
        allow read: if request.auth != null;
        allow write: if request.auth != null && request.auth.uid == uid;
      }
      match /state/{doc} {
        allow read: if request.auth != null;
        allow write: if request.auth != null && request.auth.uid == get(/databases/$(database)/documents/sessions/$(sessionId)).data.hostUid;
      }
      match /actions/{actionId} {
        allow create: if request.auth != null;
        allow read, update: if request.auth != null && request.auth.uid == get(/databases/$(database)/documents/sessions/$(sessionId)).data.hostUid;
      }
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /characters/{charId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
      match /campaigns/{campaignId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
